section:not(section:nth-child(1)) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Hero */
section:nth-child(1) {
  padding-top: 7rem;
  min-height: 100vh;
}

section:nth-child(1) div {
  margin-bottom: 1.5rem;
}

section:nth-child(1) div h2 {
  font-size: 4.6rem;
}

section:nth-child(1) div h2:last-child {
  font-family: "Josefin Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  font-style: italic;
  background: -webkit-linear-gradient(
    77deg,
    rgb(250, 229, 255) 0%,
    rgb(122, 53, 230) 75%,
    rgb(255, 247, 247) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -1rem;
}

section:nth-child(1) p {
  font-size: 1.125rem;
  text-align: center;
  max-width: 865px;
  margin-inline: auto;
}

/* Scroll */

/* Keep Scrolling */

/* Friends */
section:nth-child(4) h3 {
  font-size: 2rem;
  position: relative;
  margin-top: -6px;
  margin-bottom: 3rem;
}

section:nth-child(4) h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 52%;
  height: 2px;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(130, 88, 195, 0), #8258c3);
}

section:nth-child(4) .imagesContainer {
  display: flex;
  gap: 2.625rem;
}

section:nth-child(4) .imagesContainer .card {
  background-color: #363636;
  background-color: var(--lvl2);
  background-color: rgba(53, 52, 62, 0.5);
  border-top: 1px solid var(--accent);
  border-inline: 2px solid rgba(0, 0, 0, 0.55);
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
  border-radius: 6px;
}

section:nth-child(4) .imagesContainer .card h4 {
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
}

section:nth-child(4) .imagesContainer .card img {
  position: relative;
  object-fit: contain;
}

section:nth-child(4) .imagesContainer .card::before {
  content: "";
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(rgba(138, 124, 159, 0), #8a7c9f); */
  background: linear-gradient(rgba(138, 124, 159, 0), rgba(130, 88, 195, 0.55));
  width: 75%;
  height: 75%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
