section:not(section:nth-child(1)) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Hero */
section:nth-child(1) {
  padding-top: 7rem;
  min-height: 100vh;
}

section:nth-child(1) div:not(.heroContainer, .indicator, .arrowContainer) {
  margin-bottom: 1rem;
}

section:nth-child(1) div h2 {
  font-size: clamp(
    2.625rem,
    1.5628151260504204rem + 5.310924369747898vw,
    4.6rem
  );
}

section:nth-child(1) div h2:last-child {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  background: -webkit-linear-gradient(
    77deg,
    rgb(250, 229, 255) 0%,
    rgb(122, 53, 230) 75%,
    rgb(255, 247, 247) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -1rem;
}

@media screen and (max-width: 655px) {
  section:nth-child(1) div h2:last-child {
    margin-top: -0.5rem;
  }
}
@media screen and (max-width: 460px) {
  section:nth-child(1) div:not(.heroContainer, .indicator, .arrowContainer) {
    margin-bottom: 1.5rem;
  }

  section:nth-child(1) div h2:last-child {
    margin-top: 0rem;
  }
}

section:nth-child(1) p {
  font-size: clamp(
    1rem,
    0.8947368421052632rem + 0.5263157894736842vw,
    1.125rem
  );
  text-align: center;
  max-width: 865px;
  margin-inline: auto;
}

/* Infinite Text */
section:nth-last-child(2) .scroller {
  white-space: nowrap;
}

/* Friends */
section:nth-last-child(1) h3 {
  font-size: 2rem;
  position: relative;
  margin-top: -6px;
  margin-bottom: 3rem;
}

section:nth-last-child(1) h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 52%;
  height: 2px;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgba(130, 88, 195, 0), #8258c3);
}

section:nth-last-child(1) .imagesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.625rem;
}

section:nth-last-child(1) .imagesContainer .card {
  background-color: rgba(38, 35, 47, 0.75);
  border-top: 1px solid var(--accent);
  border-inline: 2px solid rgba(0, 0, 0, 0.55);
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
  border-radius: 6px;
}

section:nth-last-child(1) .imagesContainer .card h4 {
  font-weight: 600;
  text-align: center;
  margin: 1rem 0.5rem 0 0.5rem;
}

section:nth-last-child(1) .imagesContainer .card img {
  position: relative;
  object-fit: contain;
}

section:nth-last-child(1) .imagesContainer .card::before {
  content: "";
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(138, 124, 159, 0), rgba(130, 88, 195, 0.55));
  width: 75%;
  height: 75%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
