footer {
  display: flex;
  justify-content: space-evenly;
  /* padding: 1rem 1.5rem; */
  padding: 0.5rem 1.5rem;
  /* padding-inline: 1.5rem; */
  background-color: var(--lvl1);
  background-color: rgba(38, 37, 45, 0.5);
  /* border-top: 2px solid var(--accent); */
}

@media screen and (max-width: 1149px) {
  footer {
    margin-top: 6rem;
  }
}

/* footer p:first-child {
  flex: 1;
}

footer p:last-child {
  flex: 1;
} */
