footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  margin-top: 4rem;
}

@media screen and (max-width: 1149px) {
  footer {
    margin-top: 6rem;
  }
}

footer p:first-of-type {
  color: rgba(255, 255, 255, 0.87);
}

footer p:first-of-type:after {
  content: "";
  display: block;
  position: relative;
  right: 27%;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 130%;
  height: 1px;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
}

footer a {
  font-size: 14px;
  opacity: 0.75;
  transition: 0.32s ease;
  border-bottom: 1px solid transparent;
}

footer a:hover {
  opacity: 1;
  border-bottom: 1px solid #8258c3;
}

footer a:active {
  color: #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

footer a img {
  position: relative;
  top: 4px;
}

footer small {
  color: rgba(255, 255, 255, 0.77);
  transform: skew(-15deg);
}

footer p:last-of-type {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
