@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Kenilla";
  src: url(./assets/fonts/Kenilla.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: dark;

  --lvl1: #26252d;
  --lvl2: #35343e;
  --accent: #8258c3;
  --accentMed: #af86f0;
  --accentLgt: #caaef5;
}

/* TODO: TEST IOS */
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: radial-gradient(
    at 2% 100%,
    hsla(260, 39%, 19%, 1) 0px,
    transparent 50%
  );
  overflow-y: hidden;
}

main {
  margin: 0 1.5rem;
}

@media screen and (max-width: 635px) {
  main {
    margin: 0 0.5rem;
  }
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Kenilla";
}

h1 {
  /* font-size: 3.2rem; */
  font-size: clamp(
    2.625rem,
    2.315756302521008rem + 1.5462184873949585vw,
    3.2rem
  );
}

h2 {
  font-size: 2.625rem;
  text-align: center;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3125rem;
}

p {
  color: rgba(255, 255, 255, 0.77);
  line-height: 1.65;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #f2f2f2;
  transition: 0.25s ease all;
}

button:not(.panel button) {
  border-radius: 6px;
  background-color: var(--accent);
}

button:hover,
.typeBtn:hover {
  background-color: var(--accentMed);
  color: #fff;
}

button:active,
.typeBtn:active {
  background-color: var(--accentLgt);
  color: #fff;
}
