.toAnimate.sAnimate {
  animation: fadeInLeft 1.3s ease-out both;
}

.toAnimate.sAnimate.card#card2 {
  animation-delay: 200ms;
}

.toAnimate.sAnimate.card#card3 {
  animation-delay: 400ms;
}

.toAnimate.sAnimate.card#card4 {
  animation-delay: 600ms;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    filter: blur(6px);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion) {
  .sAnimate {
    animation: none;
  }
}

section:nth-last-child(2) .scrollerWrapper {
  display: flex;
  gap: 1rem;
}

section:nth-last-child(2) .scrollerWrapper .scroller {
  animation: var(--dir) 16s linear infinite;
}

@keyframes left {
  0% {
    transform: translateX(930px);
  }

  100% {
    transform: translateX(-910px);
  }
}

@keyframes right {
  0% {
    transform: translateX(-930px);
  }

  100% {
    transform: translateX(910px);
  }
}
